.myLabelStyle {
    -fx-text-fill: #05bff0;
    -fx-font-weight: bold;
    -fx-font-size: 30;
}

.labelError {
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

.labelSuccess {
    -fx-text-fill: green;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}